/*GENERAL*/
a{
	text-decoration: none;
	color: #000000;

}
#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding:0 5%;
	background:teal;	 
}

#galeria {
	margin:0;
	padding:0;
	list-style:none; /*saca las viñetas*/
}

#galeria li{
	float:left;
	width:45%;
	margin:2.5%;
	background-color:teal;
	color:#bdc3c7;  /*ajusta las imagenes a la pantalla de galeria*/
}

#galeria li  a p {
	margin:0;
	padding:5%;
	font-size:0.75em;
	color:#bdc3c7;

}

h1{

	font-family: 'poiret one', sans-serif;
	margin:15px 0;
	font-size: 1.75em;
	font:weight:normal;
	line-height: 0.8em;
}

img{
	max-width:100%; /*establece que la pagina se adacte al tamaño del cel o pagina*/
}

/*HEADING*/
header{

	background:#6ab47b;
	border--color:#599a68;
}


header{
	float:letf;
	margin:0030px0;
	padding:5px 000;
	width:100%;

}
#logo{

	text-align: center;
	margin:0;
}

h1,h2{
	color:#fff;
}

/*NAVIGATION*/
nav{

	background:#fff111;
}

nav a, nav a:visited;{
	color:#281758;
}

nav a.selected{
	color:#ff1111;
}

nav ul {
	list-style:none;
	margin:010px;
	padding:0; /*aliniar la galeria*/
}

nav li {
	display:inline-block; /*permite alinear en forma horizontal el menu*/
}

nav a { font-weight: 800;
		padding:15px 10px;}/*permite establecer mas enfacis y estable como boton*/

nav a:hover {color:#32673f;} /*cambia el color al pasar ele mouse*/

/*FOOTER*/
footer{

	font-size: 0.75em;
	text-align:center;
	clear:both;
	padding-top:50px;
	color:#ccc; /*cambia al footer en la parte inferior y centrado*/

}

.social-icon{
	width:30px;
	height:30px;
	margin:0 5px;

}

.profile-photo{

	display:block;
	max-width:250px;
	margin: 0 auto 50px;
	border-radius:100%;
}

.contact-info li.phone a{
	background-image:url('../img/phone.png');
}


.double-border {
border: 5px solid #ddd;
padding: 5px; /*Inner border size*/
background: #fff; /*Inner border color*/
}

.contact-info li.mail a{
	background-image:url('../img/mail.png');
}

.contact-info li.twitter a{
	background-image:url('../img/twitter.png');
}

.contact-info a{
	display:block;
	min-height:20px;
	background-repeat:no-repeat;
	background-size:20px 20px;
	padding: 00030px;
	margin:0010px; /*coloca los iconos del telefono en forma normal*/
}


.contact-info{

	list-style:none;
	padding:0;
	margin:0;
	font-size:0.9em;
}